body {
    background: #f6f6f6;
    color: #666666;
    font-family: Arial, sans-serif;
    margin: 30px;
}

input, textarea {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

input[type=submit] {
    background: #EEEEEE;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background: #DDDDDD;
    }

input[type=text] {
    background: #EEEEEE;
    padding: 5px 10px;
    margin: 10px;
    text-align: right;
    width: 20px;
}

.error-text {
    color: #AA0000;
}

.error-message {
    display: inline-block;
    color: #AA0000;
    margin: 5px;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
}

.success-message {
    display: inline-block;
    color: #00AA00;
    margin: 5px;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
}

.align-right {
    text-align: right !important;
}

.current-guess {
    color: #444499;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    margin: 0 3px 0 6px;
}

